@font-face {
    font-family: 'Roboto', sans-serif;
    src: url(Roboto-Bold.ttf);
}

body{
    font-family: 'Roboto';
    background-color:#f2f1d383;
    max-width: 90vh;
    margin: 0 auto;
}
.accordion-wrapper{
    padding:2rem;
}
h1{
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom:2%;
}
.accordion{
    transition: 0.7s;
}
.accordion-item{
    border-top: 2px solid #e1e1e1;
    transition: 0.7s;
}
.accordion-title{
    display: flex;
    justify-content: space-between;
    padding:2% 0;
    cursor: pointer;
}
.accordion-title h3{
    font-size: 1.2em;
    font-weight: 700;
    transition: .35s;
    color:rgb(8, 141, 223);
    transition: 0.7s;
}
.accordion-title i{
    display: none;
}
input{
    display: none;
}
.accordion-img{
    display: block;
    width:0;
    margin: 0 auto;
    cursor: pointer;
    transition: 0.7s;
}
.accordion-img>img{
    display: block;
    width: 50%;
    height:auto;
    margin: 0.3rem auto;
    cursor: pointer;
}
input:checked ~ .accordion-title i{
    transform: rotate(45deg);
}
input:checked~ .accordion-title h3{
    color:#000;
} 
input:checked ~.accordion-img{
    margin: 1rem auto 0;
    width:100%;
}
.accordion:hover .accordion-title h3{
    color:#000;
}
.accordion-item:active{
    opacity: 0.65;
}
.accordion:hover .accordion-title i{
    display: block;
}
.accordion-item:hover input~ .accordion-img{
    margin: 1rem auto;
    width:100%;
}
.accordion-item:hover .accordion-title i{
    transform: rotate(45deg);
}

@media only screen and (max-width:1920px){
    h1{
        font-size: 2.5rem;
    }
    .accordion-title{
        font-size: 1.2rem;
    }
}
@media only screen and (max-width:880px){
    h1{
        font-size: 1.7rem;
    }
    .accordion-title{
        font-size: 0.9rem;
    }
    .accordion-img>img{
        width:60%;
    }
}
@media only screen and (max-width:470px){
    h1{
        font-size: 1.3rem;
    }
    .accordion-title{
        font-size: 0.7rem;
    }
    .accordion-img>img{
        width:80%;
    }
}
